* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.app-container {
    width: 100vw;
    height: 100vh;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #5b9ce6;
    padding: 20px 10px;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Style the header links */
.header a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 10px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddc7c7;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: white;
}


.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

}